/* ---------------  Style de la page ----------------------- */
.autor-title {
  text-align: center;
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 800;
}

.new-question-update-card {
  width: 60%;
  border: 3px solid #587f7a;
  border-radius: 2rem;
  text-align: center;
  margin: 0 auto;
}

.new-question-update-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.new-question-update-input {
  border: 3px solid #587f7a;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.new-question {
  width: 70%;
  margin: 0.6rem auto;
}

.new-answer {
  width: 50%;
  margin: 0 auto;
}
.valid-question {
  display: flex;
  flex-direction: column;
}
