
.quiz-card {
  height: 23rem;
}

.quiz-autor{
width: 50%;
text-align: right;
margin-top: 2.5rem;
border: 3px solid #587f7a;
padding: 0.3rem;

}

.titreh1{
  text-align: center;
}

.btn-header{
  display : flex ;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;

}

.btn-icone{
  width: 5rem;
  height: 5rem;
  background-color: #587f7a00;
  border: none;
  cursor: pointer;
}

.compte-perso{
  display: flex;
  align-items: center;
}