/* ---------------  Style de la page ----------------------- */
.autor-quiz {
  min-height: 80vh;
  text-align: center;
}
.title-quiz {
  padding: 2rem;
  font-size: 2.5rem;
  font-weight: 800;
}
.name {
  width: 25%;
  border: 3px solid #587f7a;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
.update-quiz {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.update-quiz form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.question {
  margin: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}
.question-card {
  width: 20%;
  border: 3px solid #587f7a;
  border-radius: 2rem;
  text-align: center;
}
.question-card-title {
  padding: 0.4rem;
}
.question-answer {
  padding: 0.3rem;
  font-size: 1.2rem;
}
.question-action {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
.question-answer {
  height: 3.5rem;
}
.question-answer-list {
  min-height: 60%;
}
.form-update-name {
  width: 60%;
  margin: 2rem auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

.new-name {
  width: 70%;
  border: 3px solid #587f7a;
  border-radius: 0.5rem;
  padding: 1rem;
  font-size: 1.3rem;
  font-weight: 600;
}
/* ---------------  Style des boutons ----------------------- */

.delete {
  background-color: #8b1e3d;
  border: 1px solid #ad3559;
}
