* {
    white-space: normal;
}

.bold {
    font-weight: bold;
}

.msg-quitter {
    color: red;
    text-align: center;
}

.main-james {
    min-height: calc(100vh - 14rem);
    align-content: center;
    margin: 0 auto;
}

.red-suit {
    background-image: url(../img/arena.jpg);
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center right;
    
}

.title-james {
    width: 100%;
    text-align: center;
    word-break: break-word;
}

.quiz-content-box {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.257);
    width: 70%;
    min-height: calc(100vh - 14rem);
    margin: 0 auto;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.quiz-title {
    font-size: 2.6rem;
    text-align: center;
    font-weight: 800;
}

.quiz-title,
.text-pink {
    color: #E91D63;
}


.separator {
    width: 35%;
    margin: 2rem auto;
    height: 4px;
    background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(1, 126, 106, 1) 50%, rgba(255,255,255,0) 100%);
    border: none;
}

.error-box {
    color: black;
}

.error-box article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    font-size: 3rem;
    text-align: center;
}

.start-box {
    width: 100%;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

.error-box {
    backdrop-filter: blur(3px);
    background-color: rgba(255, 255, 255, 0.233);
    border-radius: 12px;
    width: 70%;
    padding: 3rem;
    margin: 1.2rem auto 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.start-box-title {
    color: black;
    line-height: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}

.question-box {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
}

.question-box-title {
    width: 100%;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    word-wrap: break-word;
}

.question-text {
    letter-spacing: 1px;
    color: #171717;
    font-size: 1.7rem;
    font-weight: 600;
}

.quiz-text-question {
    text-align: center;
    color: #171717;
    font-size: 1.7rem;
    word-break: break-word;
}

.question-box-answers {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: stretch;
    gap: 2rem 2.5rem;
}

.button-answer {
    background-repeat: no-repeat;
    background-position: left;
    background-size: 2rem;
    background-position-x: 1.2rem;
    min-width: 35%;
    padding: 1rem 3.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    font-size: 1.2rem;
    border-radius: 15px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 0.5px;
    word-wrap: break-word;
    word-break: break-word;
}

/*  design bouton par defaut */
.noAnswer,
.default {
    background-color: #8e8e8e5d;
    border: 2px solid #EDEDED5D;
    color: #181818;
    box-shadow: 0px 23px 16px 0px rgba(255, 255, 255, 0.06) inset;
}

.default:hover {
    border-radius: 15px;
    background-color: #cecece5d;
    color: #2e2e2e;
}

.default {
    cursor: pointer;
}

/* reponse vraie */
.answerValid {
    border: 2px solid #acff86;
    background-color: #79DA7D;
}

/* reponse fausse */
.answerFalse {
    color: #913535;
    border: 2px solid #FF5959;
    background-color: #eb7474c3;
}

/* bonne réponse */
.answerTrue {
    border: 2px solid #3EE23A;
    background-color: #7add7d73;
}

.answer-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  symbol */

.cercle-answer {
    background-image: url(../img/cercle.png);
}
.triangle-answer {
    background-image: url(../img/triangle.png);
}
.square-answer {
    background-image: url(../img/square.png);
}
.umbrella-answer {
    background-image: url(../img/umbrella.png);
}

/*  bouton suivant */

.button-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-box input {
    letter-spacing: 3px;
    height: auto;
}

.button-next {
    box-shadow: 0px 9px 30px 0px rgba(201, 201, 201, 0.69) inset;
    color: white;
    min-width: 8rem;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
}

.button-next:hover {
    background-color: #5c5c5c;
    box-shadow: 0px 9px 30px 0px rgba(201, 201, 201, 0.69) inset;
}

.button-next-green {
    background-color: #106D61;
    border: 1px solid #587f7a;
}

.button-next-green:hover {
    background-color: #0d594f;
    box-shadow: 0px 9px 30px 0px rgba(201, 201, 201, 0.69) inset;
}

.button-next-red {
    background-color: #d83e3e;
    border: 1px solid #a33737;
}

.button-next-red:hover {
    background-color: #c73535;
    box-shadow: 0px 9px 30px 0px rgba(201, 201, 201, 0.69) inset;
}

.button-start {
    min-width: 12rem;
    padding : 2rem;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    border-radius: 12px;
    box-shadow: 0px 23px 16px 0px rgba(255, 255, 255, 0.219) inset;
    cursor: pointer;
}

/* page leaderboard */

.leaderboard-content-box {
    width: 100%;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.button-box-leaderboard {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.button-lead {
    box-shadow: 0px 9px 30px 0px rgba(201, 201, 201, 0.69) inset;
    color: white;
    width: 60%;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1.5rem;
    cursor: pointer;
}

.leaderboard-tab {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.leaderBox,
.leaderBox tbody {
    width: 80%;
    text-align: center;
    border-collapse: collapse;
    display: flex;
    flex-direction: column;
}

.leaderBox {
    gap: 1.5rem;
    justify-content: space-evenly;
}

.leaderBox tbody{
    width: 100%;
    gap: 0.5rem;
}


.leaderBox thead tr,
.leaderBox tbody tr{
   display: flex;
   justify-content: center;
   align-items: center;
}

.leaderBox th,
.leaderBox td {
    width: 100%;
    padding: 0.5rem 0.5rem;
}

.user-number {
    box-sizing: border-box;
    background-color: #106d61;
    border: 2px solid #035345 ;
    color: white;
}

.user-score,
.user-pseudo {
    background-color: rgb(243, 243, 243);
    border: 2px solid #F3F3F3;

} 

.int-tab,
.user-score,
.user-number {
    flex-shrink: 2;
}

.title-tab,
.user-pseudo {
    flex-shrink: 1;
}

.dollsAdd {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.doll-left,
.doll-right {
    width: 12%;
} 

.doll-left img,
.doll-right img {
    width: 100%;
} 

/*---------- MEDIA QUERIES ----------*/

@media screen and (max-width: 768px) {
    
    .quiz-content-box {
        width: 100%;
        margin: 0;
        padding: 2rem 0 0;
        justify-content: flex-start;
        gap: 1rem;
        border-radius: 0;
    }

    .quiz-text-question {
        font-size: 1.5rem;
    }

    .separator {
        margin: 1rem auto;
    }

    .question-box {
        gap: 1.5rem;
        padding-top:0;
    }

    .question-box-title {
        padding: 0;
    }

    .question-box-answers {
        gap: 1rem;
    }

    .button-answer {
        min-height: 3rem;
    }

    .doll-left,
    .doll-right {
        display: none;
  }

    .dollsAdd {
        width: 100%;
    }

    .leaderboard-tab {
        width: 100%;
    }

    .user-pseudo,
    .title-tab {
        width: 75%;
    }
}

@media screen and (max-width: 430px) {
    
    .question-box,
    .start-box,
    .error-box {
        margin: 0;
        padding: 0 1rem;
        width: 100%;
    }

    .question-box {
        gap: 1.5rem;
    }

    .question-box-title {
        padding: 0;
        width: 100%;
    }

    .question-box-answers {
        gap: 1.2rem;
    }

    .button-answer  {
        background-size: 1.4rem;
        background-position-x: 0.6rem;
        min-width: 100%;
        padding: 0.5rem 1rem 0.5rem 2.3rem;
        justify-content: flex-start;
        text-align: left;
        font-size: 1rem;
        font-weight: lighter;
    }

    .quiz-title {
        font-size: 1.4rem;
    }

    .quiz-text-question,
    .question-text {
        font-size: 1.2rem;
    }

    .button-start {
        padding: 1rem;
        font-size: 1.5rem;
    }

    .button-lead {
        width: 90%;
        font-size: 1rem;
    }

    .separator-lead {
        margin: 1rem auto;
    }

    .leaderBox {
        width: 100%;
        padding: 0 0.5rem;
    }
}

@media screen and (max-width: 390px) {

    .start-box,
    .question-box {
        margin-bottom: 2rem;
    }

    .start-box-title {
        gap: 1.5rem;
    }

    .button-next {
        font-size: 1.2rem;
    }

    .leaderboard-content-box {
        gap: 1rem;
    }

}

