* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #d8d8d8;
}

.header {
  color: white;
  width: 100%;
  height: 8rem;
  padding: 0 3.5rem;
  background-color: #017e6a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  color: white;
}

.logo-box,
.logo-login {
  width: 20%;
  height: 90%;
  /* align-content: center;  */
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-login {
  justify-content: flex-end;
}

.logo-box {
  justify-content: flex-start;
}
.logo-box img,
.logo-login img {
  /* width: 100%; */
  height: 6rem;
  object-fit: contain;
}

.logo-login img {
  height: 5rem; 
} 



.box-quiz-logo {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.quiz-logo {
  flex: 1;
  height: 100%;
  object-fit: contain;
}

.login {
  background-color: #106d61;
  color: white;
  width: 5rem;
  height: 3rem;
  border: 2px solid #035345;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.4rem;
}

.box-account {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.icon-account {
  background-color: #587f7a00;
  border: none;
  cursor: pointer;
}

.box-login-disconnect {
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.header-user-logo {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

/* footer */

.footer {
  width: 100%;
  height: 6rem;
  color: white;
  background-color: #017e6a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.footer a {
  color: #005245;
}

.social-box {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
