.quiz-card {
  height: 37rem;
  border-radius: 50px;
  background-color: #017e693a;
}

.quiz-card-title {
  margin: 2rem 1rem;
}

.quiz-autor {
  text-align: center;
  margin-top: 2rem;
  padding: 0.3rem;
}

.classement {
  margin: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.classement a {
  color: black;
}
.classement img {
  margin: 2rem;
  width: 6rem;
}

.btn-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2.5rem;
}

.btn-icone {
  width: 5rem;
  height: 5rem;
  background-color: #587f7a00;
  border: none;
  cursor: pointer;
}

.btn-classement {
  width: 25rem;
  height: 5rem;
  background-color: #587f7a00;
  border: none;
  cursor: pointer;
  font-size: 25px;
}

.compte-perso {
  display: flex;
  align-items: center;
}

/*---------- MEDIA QUERIES ----------*/

@media screen and (max-width: 1300px) {
  .quiz-card {
    height: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 30%;
  }
}
@media screen and (max-width: 900px) {
  .quiz-card {
    height: 39rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    width: 90%;
  }
}
@media screen and (max-width: 400px) {
  .classement img {
    width: 4rem;
  }
}
