*{
    margin: 0;
    padding: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.title{
    text-align: center;
    margin: 5rem;

}
.login-bloc, .registration-bloc{
    width: 40%;
    margin: auto;
    background-color: rgba(135, 135, 135, 0.633);
    border-radius: 20px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}


.login-bloc{
    height: 25rem;
}
.registration-bloc{
    height: 35rem;
}

.form{
    padding-top: 3rem;
    text-align: center;    
}

.input{
    width: 15rem;
    padding: 0.8rem;
    border-radius: 20px;
    margin: 1.2rem;
    border: 1px solid rgb(223, 222, 222);
    font-size: large;
}

.bouton{
    width: 10rem;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid rgb(140, 140, 140);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    background-color: rgb(153, 154, 154);
    font-size: large;
}

.alert{
    text-align: center;
    margin: 5rem;
    color: rgb(192, 19, 19);
    font-size: x-large;
}

.txt{
    margin-top: 1.5rem;
    text-align: center;
}
.link-bold{
    font-weight: bolder;
    color: rgb(0, 0, 0);

}